<a href="https://colab.research.google.com/github/Abdulkareem96/My-Git/blob/main/Hamoye_Quiz_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [57]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/energydata_complete.csv')

In [21]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [58]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [59]:
column_names = {'T1':'kitchen_temp', 'RH_1': 'kitchen_hum','T2': 'living_room_temp', 'RH_2': 'living_room_hum', 
                'T3': 'laundry_room_temp','RH_3': 'laundry_room_hum', 'T4': 'office_room_temp','RH_4': 'office_room_hum',
                'T5': 'bathroom_temp', 'RH_5': 'bathroom_hum', 'T6': 'outside_building_temp', 'RH_6': 'outside_building_hum',
                'T7': 'ironing_room_temp', 'RH_7': 'ironing_room_hum', 'T8': 'teenager_room_temp', 'RH_8': 'teenager_room_hum',
                'T9': 'parents_room_temp', 'RH_9': 'parents_room_hum', 'T_out': 'outside_temp', 'Press_mm_hg': 'chievres_pressure',
                'RH_out': 'outside_hum', 'rv1': 'random_variable1', 'rv2': 'random_variable2'}

In [60]:
df = df.rename(columns=column_names)

In [61]:
df[['living_room_temp', 'outside_building_temp']].head()

   living_room_temp  outside_building_temp
0              19.2               7.026667
1              19.2               6.833333
2              19.2               6.560000
3              19.2               6.433333
4              19.2               6.366667

In [63]:
# I dropped date before I saw that I should drop lights, hence why they are separate
df.drop('date', axis=1, inplace=True)
df.drop('lights', axis=1, inplace=True)
df.head()

,Appliances,kitchen_temp,kitchen_hum,living_room_temp,living_room_hum,laundry_room_temp,laundry_room_hum,office_room_temp,office_room_hum,bathroom_temp,...,parents_room_temp,parents_room_hum,outside_temp,chievres_pressure,outside_hum,Windspeed,Visibility,Tdewpoint,random_variable1,random_variable2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [64]:
#Firstly, we normalise our dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
heating_target = normalised_df['Appliances']

In [65]:
#Now, we split our dataset into the training and testing dataset. Recall that we
#had earlier segmented the features and target variables.
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(features_df, heating_target,
test_size=0.3, random_state=42)
linear_model = LinearRegression()

In [66]:
#fit the model to the training dataset
linear_model.fit(x_train, y_train)

LinearRegression()

In [67]:
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [68]:
#to obtain the R-squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

In [69]:
#MAE-obtain the mean absolute error
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

In [70]:
# to obtain the residual sum of squares(RSS)
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

In [71]:
#to obtain the root mean square error (RMSE)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [72]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [73]:
# Feature selection and lasso regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [75]:
# I tried running this code when I was following the course content, but it didn't run, if an explanation 
# can be provided, I will appreciate it, because I tried checking online but didn't find a solution

#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [ ]:
# Lastly, my codes are not well explained like the first quiz because I've been sick and I just had to try and do the quiz
# to avoid being kicked out, I promise to do better.